
HbSliderHandle
{
    layout:sliderhandle;
}

HbSliderHandle::icon
{
    top:0.0un;
    left:0.0un;
    right:0.0un;
    bottom:0.0un;
}

/*touch area*/
HbSliderControl[orientation="Horizontal"] > HbSliderHandle::toucharea
{
    fixed-width:expr(2*var(hb-param-widget-slider-thumb-width));
    fixed-height:var(hb-param-touch-area-gene-primary-medium);
}

HbSliderControl[orientation="Vertical"] > HbSliderHandle::toucharea
{
    fixed-width:var(hb-param-touch-area-gene-primary-medium);
    fixed-height:expr(2*var(hb-param-widget-slider-thumb-width));
}
