TsTasksGridItem {
    layout:custom;
}

TsTasksGridItem::appname {
    text-align: center;
    color: var(qtc_default_main_pane_normal);
    font-variant: secondary;
    text-height: var(hb-param-text-height-tiny);
    text-wrap-mode: no-wrap;    
}

TsTasksGridItem > HbPushButton#closebadge {
    min-width: 7un;
    min-height: 7un;
}

TsTasksGridItem::screenshotFrame {
    zvalue: -1;
}

TsTasksGridItem > HbPushButton#closebadge::toucharea {
    left: 1un;
    right: -1un;
    top: 1un;
    bottom: -1un;
}

TsTasksGridItem > HbPushButton#closebadge::icon {
    max-width: var(hb-param-graphic-size-primary-small);
    max-height: var(hb-param-graphic-size-primary-small);
}

TsTasksGridItem::screenshot {
    alignment: center;
}

TsTasksGridItem::activeLabel  {
    text-align: center;
    color: var(qtc_multimedia_trans_normal);
    text-height: var(hb-param-text-height-tiny);
    font-variant: secondary;
    
    zvalue: 2;
    
    /* workaround for mesh layout limitations */
    max-height: 4un;
    min-height: 4un;
}

TsTasksGridItem::activeLabelFrame {
    zvalue: 1;
}
