
/*
    Layout selection
*/

HbTumbleView[scrollDirections="Horizontal"]
{	
	layout:tumble-layout;
	min-width: 1un;/*Need this for uniform tumbler widths, when grouped together*/
}
HbTumbleView[scrollDirections="Vertical"]
{	
	layout:tumble-layout;
	min-width: 1un;/*Need this for uniform tumbler widths, when grouped together*/
}

HbTumbleView::highlight {
    fixed-height: expr(var(hb-param-text-height-primary)+var(hb-param-margin-gene-bottom)+var(hb-param-margin-gene-top));
}

HbTumbleView::separator{
    fixed-width: 0.5un;
}

