HbColorGridViewItem{
    layout:colorgriditem_layout;
}

HbColorGridViewItem::cg-border-icon
{
    left:   -var(hb-param-margin-gene-popup);
    top:    -var(hb-param-margin-gene-popup);
    bottom:  var(hb-param-margin-gene-popup);
    right:   var(hb-param-margin-gene-popup);
    fixed-width: var(hb-param-graphic-size-primary-small);
    fixed-height: var(hb-param-graphic-size-primary-small); 
}

HbColorGridViewItem::cg-color-icon
{
    left:   -var(hb-param-margin-gene-popup);
    top:    -var(hb-param-margin-gene-popup);
    bottom:  var(hb-param-margin-gene-popup);
    right:   var(hb-param-margin-gene-popup);
    fixed-width:   var(hb-param-graphic-size-primary-small);
    fixed-height: var(hb-param-graphic-size-primary-small); 
}

HbColorGridViewItem::cg-selection-icon
{
    fixed-width:   var(hb-param-graphic-size-secondary);
	fixed-height:   var(hb-param-graphic-size-secondary);
}
