HbDataFormViewItem::dataItem_Label
{
	color:var(qtc_list_item_title_normal);
}

HbDataFormViewItem::dataItem_Description
{
	color:var(qtc_list_item_content_normal);
}

HbDataFormViewItem[!enabled]::dataItem_Label
{
	color:var(qtc_list_item_disabled);
}


HbDataFormViewItem[!enabled]::dataItem_Description
{
	color:var(qtc_list_item_disabled);
}




