/*
    Grid item default color definitions.
*/
HbGridViewItem::text{
    color: var(qtc_grid_normal);
}

HbGridViewItem::text[state="pressed"]{
    color: var(qtc_grid_pressed);
}

HbGridViewItem::text[state="disabled"]{
    color: var(qtc_grid_disabled);
}

HbGridViewItem::icon{
    color: var(qtc_grid_normal);
}

HbGridViewItem::icon[state="pressed"]{
    color: var(qtc_grid_pressed);
}

HbGridViewItem::icon[state="disabled"]{
    color: var(qtc_grid_disabled);
}

/*
    Grid item inside popup color definitions.
*/
HbGridViewItem::text[insidePopup]{
    color: var(qtc_popup_grid_normal);
}

HbGridViewItem::text[insidePopup][state="pressed"]{
    color: var(qtc_popup_grid_pressed);
}

HbGridViewItem::text[insidePopup][state="disabled"]{
    color: var(qtc_popup_grid_disabled);
}

HbGridViewItem::icon[insidePopup]{
    color: var(qtc_popup_grid_normal);
}

HbGridViewItem::icon[insidePopup][state="pressed"]{
    color: var(qtc_popup_grid_pressed);
}

HbGridViewItem::icon[insidePopup][state="disabled"]{
    color: var(qtc_popup_grid_disabled);
}