HbSlider[orientation="Horizontal"] > HbSliderTickmarks
{
    fixed-width-major: 0.5un;
    fixed-height-major: 1un;
    fixed-width-minor:0.5un;
    fixed-height-minor:0.5un;
}



HbSlider[orientation="Vertical"] > HbSliderTickmarks
{
    fixed-height-major: 0.5un;
    fixed-width-major: 1un;
    fixed-height-minor:0.5un;
    fixed-width-minor:0.5un;
}







