HbToolButton::text
{
color:var(qtc_toolbar_normal);
}

HbToolButton[state = "pressed"]::text
{
color:var(qtc_toolbar_pressed);
}

HbToolButton[!enabled]::text
{
color:var(qtc_toolbar_disabled);
}

HbToolButton[checked]::text
{
color:var(qtc_toolbar_latched);
}

HbToolButton::icon
{
color:var(qtc_toolbar_normal);
}

HbToolButton[state = "pressed"]::icon
{
color:var(qtc_toolbar_pressed);
}

HbToolButton[!enabled]::icon
{
color:var(qtc_toolbar_disabled);
}

HbToolButton[checked]::icon
{
color:var(qtc_toolbar_latched);
}

HbToolButton[toolbutton_extension_layout]::text
{
color:var(qtc_popup_grid_normal);
}

HbToolButton[state = "pressed"][toolbutton_extension_layout]::text
{
color:var(qtc_popup_grid_pressed);
}

HbToolButton[!enabled][toolbutton_extension_layout]::text
{
color:var(qtc_popup_grid_disabled);
}

HbToolButton[toolbutton_extension_layout]::icon
{
color:var(qtc_popup_grid_normal);
}

HbToolButton[state = "pressed"][toolbutton_extension_layout]::icon
{
color:var(qtc_popup_grid_pressed);
}

HbToolButton[!enabled][toolbutton_extension_layout]::icon
{
color:var(qtc_popup_grid_disabled);
}

HbToolButton[dialogtoolbar]::text
{
color:var(qtc_popup_sk_normal);
}

HbToolButton[dialogtoolbar][state = "pressed"]::text
{
color:var(qtc_popup_sk_pressed);
}

HbToolButton[dialogtoolbar][!enabled]::text
{
color:var(qtc_popup_sk_disabled);
}

HbTitleBar > HbIndicatorButton::icon {
    color:var(qtc_title_pane_normal);
}

HbTitleBar > HbNavigationButton::icon {
    color:var(qtc_title_pane_normal);
}
