HbMenu
{	
	layout:default;
	submenu-right-offset: 2.25un;
	submenu-bottom-margin: var(hb-param-margin-gene-screen); 
	number-of-columns: 1;
}

HbMenu::content
{
	max-width: expr(var(hb-param-screen-short-edge)-9un);
	min-width: expr((var(hb-param-screen-short-edge)-9un)/2);
	max-height: 43un;
	size-policy-vertical: expanding;
	size-policy-horizontal: expanding;
}

HbMenu[menuType="1"]::content
{
	min-width: expr(var(hb-param-screen-short-edge)-9un);
}
