HbDataFormHeadingWidget[!hasHeading][!hasDescription]{
    layout:layout_combo;
}
HbDataFormHeadingWidget[!hasHeading]{
    layout:layout_description_combo;
}
HbDataFormHeadingWidget{
    layout:layout_heading_description_combo;
}

HbDataFormHeadingWidget::dataForm_Heading
{
    left:-var(hb-param-margin-gene-left);
    right:var(hb-param-margin-gene-right);
    top: -var(hb-param-margin-gene-top);
    bottom:var(hb-param-margin-gene-middle-vertical);
    /*bottom:var(hb-param-margin-gene-middle-vertical);*/
    font-variant:primary;
    text-height:var(hb-param-text-height-primary);
    text-align:left;
    text-line-count-max:1;
}
HbDataFormHeadingWidget[!hasHeading]::dataForm_Desc
{
	top:-var(hb-param-margin-gene-top);
    bottom :var(hb-param-margin-gene-top);
    left:-var(hb-param-margin-gene-left);
    right:var(hb-param-margin-gene-right);
    /*bottom:var(hb-param-margin-gene-middle-vertical);*/
    font-variant:secondary;
    text-height:var(hb-param-text-height-secondary);
    text-align:left;
    text-line-count-max:3;
}
HbDataFormHeadingWidget::dataForm_Desc
{
    bottom :var(hb-param-margin-gene-top);
    left:-var(hb-param-margin-gene-left);
    right:var(hb-param-margin-gene-right);
    /*bottom:var(hb-param-margin-gene-middle-vertical);*/
    font-variant:secondary;
    text-height:var(hb-param-text-height-secondary);
    text-align:left;
    text-line-count-max:3;
}

HbDataFormHeadingWidget[!hasHeading][!hasDescription]::dataForm_Combo
{
    top:-var(hb-param-margin-gene-top);
    left:-var(hb-param-margin-gene-left);
    right:var(hb-param-margin-gene-right);
    bottom:var(hb-param-margin-gene-bottom);
}

HbDataFormHeadingWidget::dataForm_Combo
{

    left:-var(hb-param-margin-gene-left);
    right:var(hb-param-margin-gene-right);
    bottom:var(hb-param-margin-gene-bottom);
}


HbDataFormHeadingWidget::dataFormHeading_Background
{
    left:0.0un;
    right:0.0un;
    top:0.0un;
    bottom:0.0un;
}