HbProgressSlider[orientation="Horizontal"]::frame
{
   pref-height: var(hb-param-widget-progress-slider-height);
   size-policy-vertical: fixed;
   size-policy-horizontal: preferred;
  
}

HbProgressSlider[orientation="Vertical"]::frame
{
   pref-width: var(hb-param-widget-progress-slider-height);
   size-policy-vertical: preferred;
   size-policy-horizontal: fixed;
  
}

