HbSliderControl[orientation="Vertical"]
{
    layout:slidercontrol_vertical;
}

HbSliderControl[orientation="Horizontal"]
{
    layout:slidercontrol_horizontal;
}

HbSliderControl[orientation="Horizontal"]::groove
{
    fixed-height:2un;
    size-policy-horizontal:preferred;
}

HbSliderControl[orientation="Horizontal"]::groovetoucharea
{
    fixed-height:var(hb-param-touch-area-gene-primary-medium);
    size-policy-horizontal:preferred;
}

HbSliderControl[orientation="Vertical"]::groove
{
    fixed-width:2un;
    size-policy-vertical:preferred;
}

HbSliderControl[orientation="Vertical"]::groovetoucharea
{
    fixed-width:var(hb-param-touch-area-gene-primary-medium);
    size-policy-vertical:preferred;
}

HbSliderControl[orientation="Horizontal"]::progressgroove
{
    fixed-height:2un;
    size-policy-horizontal:preferred;    
}

HbSliderControl[orientation="Vertical"]::progressgroove
{
    fixed-width:2un;
    size-policy-vertical:preferred;
}
HbSliderControl[orientation="Horizontal"]::handle
{
    fixed-width:var(hb-param-widget-slider-thumb-width);
    fixed-height:expr(2*var(hb-param-widget-slider-thumb-width));
}

HbSliderControl[orientation="Vertical"]::handle
{
   fixed-width:6un;
   fixed-height:3un;

}


