
/*
    Layout selection
*/

HbListViewItem{
	layout:layout-1;
}

HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][!text-2]{
    layout:layout-4;
}

HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][graphicsSize="Thumbnail"]{
    layout:layout-2;
}
HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][graphicsSize="WideThumbnail"]{
    layout:layout-2;
}

HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][graphicsSize="Thumbnail"][!text-2]{
    layout:layout-6;
}
HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][graphicsSize="WideThumbnail"][!text-2]{
    layout:layout-6;
}

HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][graphicsSize="Thumbnail"][!text-2][text-3]{
    layout:layout-5;
}
HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][graphicsSize="WideThumbnail"][!text-2][text-3]{
    layout:layout-5;
}

HbListViewItem[layoutName="default"][modelItemType="StandardItem"][!icon-1][!text-2]{
    layout:layout-3;
}


HbListViewItem[layoutName="default"][modelItemType="StandardItem"][!icon-1][stretchingStyle="StretchLandscape"]:landscape{
    layout:layout-3;
}

HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][stretchingStyle="StretchLandscape"]:landscape{
    layout:layout-4;
}

HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][stretchingStyle="StretchLandscape"][graphicsSize="Thumbnail"]:landscape{
	layout:layout-5;
}
HbListViewItem[layoutName="default"][modelItemType="StandardItem"][icon-1][stretchingStyle="StretchLandscape"][graphicsSize="WideThumbnail"]:landscape{
	layout:layout-5;
}

HbListViewItem[layoutName="default"][modelItemType="SeparatorItem"]{
	layout:separator-1;
}

/*
    Standard primitive properties
*/

HbListViewItem::selection-icon{
	fixed-height: var(hb-param-graphic-size-secondary);
	fixed-width: var(hb-param-graphic-size-secondary);
}

HbListViewItem::selection-icon[graphicsSize="Thumbnail"]{
	zvalue: 2;
}

HbListViewItem::selection-icon[graphicsSize="WideThumbnail"]{
	zvalue: 2;
}

HbListViewItem::multiselection-toucharea{
	fixed-width: expr(var(hb-param-graphic-size-secondary)+(3/2)*var(hb-param-margin-gene-left));
}

HbListViewItem::icon-1{
	fixed-height: var(hb-param-graphic-size-primary-medium);
	fixed-width: var(hb-param-graphic-size-primary-medium);
}

HbListViewItem::icon-1[graphicsSize="SmallIcon"]{
	fixed-height: var(hb-param-graphic-size-primary-small);
	fixed-width: var(hb-param-graphic-size-primary-small);
}

HbListViewItem::icon-1[graphicsSize="LargeIcon"]{
	fixed-height: var(hb-param-graphic-size-primary-large);
	fixed-width: var(hb-param-graphic-size-primary-large);
}

HbListViewItem::icon-1[graphicsSize="Thumbnail"]:portrait{
	fixed-height: var(hb-param-graphic-size-image-portrait);
	fixed-width: var(hb-param-graphic-size-image-portrait);
}

HbListViewItem::icon-1[graphicsSize="Thumbnail"]:landscape{
	fixed-height: var(hb-param-graphic-size-image-landscape);
	fixed-width: var(hb-param-graphic-size-image-landscape);
}

HbListViewItem::icon-1[graphicsSize="WideThumbnail"]:portrait{
	fixed-height: var(hb-param-graphic-size-image-portrait);
	fixed-width: expr((16/9)*var(hb-param-graphic-size-image-portrait));
}

HbListViewItem::icon-1[graphicsSize="WideThumbnail"]:landscape{
	fixed-height: var(hb-param-graphic-size-image-landscape);
	fixed-width: expr((16/9)*var(hb-param-graphic-size-image-landscape));
}

HbListViewItem::icon-2{
  fixed-height: var(hb-param-graphic-size-primary-small);
  fixed-width: var(hb-param-graphic-size-primary-small);
}

HbListViewItem::text-1{
	text-height: var(hb-param-text-height-primary);
	font-variant: primary;
	pref-width:-1;
	text-align: left;
	size-policy-horizontal: ignored;
	text-line-count-min:1;
	text-line-count-max:1;
	text-wrap-mode:no-wrap;
}

HbListViewItem::text-1[modelItemType="StandardItem"][stretchingStyle="StretchLandscape"]:landscape{
	pref-width: 30.0un;
	text-line-count-min:1;
	text-line-count-max:1;
	text-wrap-mode:no-wrap;
}

HbListViewItem::text-1[modelItemType="SeparatorItem"]{
	text-height: var(hb-param-text-height-secondary);
	font-variant: secondary;
	text-align: right;
	text-line-count-min:1;
	text-line-count-max:1;
	text-wrap-mode:no-wrap;
}

HbListViewItem::text-2{
	text-height: var(hb-param-text-height-secondary);
	font-variant: secondary;
	pref-width:-1;
	text-align: left top;
	size-policy-horizontal: ignored;
	text-line-count-min:1;
	text-line-count-max:1;
	text-wrap-mode:no-wrap;
}

 HbListViewItem::text-2[stretchingStyle="StretchLandscape"]:landscape{
 	pref-width: 30.0un;
	text-line-count-min:1;
	text-line-count-max:1;
	text-wrap-mode:no-wrap;
 }

HbListViewItem::text-3{
	text-height: var(hb-param-text-height-secondary);
	fixed-width: 18.0un;
	font-variant: secondary;
	text-align: right;
	text-line-count-min:1;
	text-line-count-max:1;
	text-wrap-mode:no-wrap;
	size-policy-horizontal: ignored;
}

HbListViewItem::frame{
	border-width: var(hb-param-background-list-main);
}

HbListViewItem::frame[insidePopup]{
	border-width: var(hb-param-background-list-popup);
}

HbListViewItem::text-2[modelItemType="SeparatorItem"]{
	minimum-height: 0.0un;
	minimum-width: 0.0un;
	fixed-height: 0.0un;
	fixed-width: 0.0un;
        text-line-count-min: 1;
        text-line-count-max: 1;
        text-wrap-mode: no-wrap;
}

HbListViewItem::text-3[modelItemType="SeparatorItem"]{
	minimum-height: 0.0un;
	minimum-width: 0.0un;
	fixed-height: 0.0un;
	fixed-width: 0.0un;
        text-line-count-min: 1;
        text-line-count-max: 1;
        text-wrap-mode: no-wrap;
}

HbListViewItem::icon-1[modelItemType="SeparatorItem"]{
	minimum-height: 0.0un;
	minimum-width: 0.0un;
	fixed-height: 0.0un;
	fixed-width: 0.0un;
}

HbListViewItem::icon-2[modelItemType="SeparatorItem"]{
	minimum-height: 0.0un;
	minimum-width: 0.0un;
	fixed-height: 0.0un;
	fixed-width: 0.0un;
}
