HbDataGroupHeadingWidget::dataGroup_HeadingLabel
{
	color:var(qtc_list_item_title_normal);
}

HbDataGroupHeadingWidget::dataGroup_Description
{
	color:var(qtc_list_item_content_normal);
}

HbDataGroupHeadingWidget[!enabled]::dataGroup_HeadingLabel
{
	color:var(qtc_list_item_disabled);
}

HbDataGroupHeadingWidget[!enabled]::dataGroup_Description
{
	color:var(qtc_list_item_disabled);
}