/* Colors for different pushbutton states for text */
HbPushButton[state = "normal"]::text
{
    color:var(qtc_button_normal);
}

HbPushButton[state = "pressed"]::text
{
    color:var(qtc_button_pressed);
}

HbPushButton[state = "latched"]::text
{
    color:var(qtc_button_latched);
}

HbPushButton::text[!enabled]
{
    color:var(qtc_button_disabled);
}


/* Colors for different pushbutton states for additional-text */

HbPushButton[state = "normal"]::additional-text
{
    color:var(qtc_button_normal);
}

HbPushButton[state = "pressed"]::additional-text
{
    color:var(qtc_button_pressed);
}

HbPushButton[state = "latched"]::additional-text
{
    color:var(qtc_button_latched);
}

HbPushButton::additional-text[!enabled]
{
    color:var(qtc_button_disabled);
}

/* Colors for different pushbutton states for mono icon */
HbPushButton[state = "normal"]::icon
{
    color:var(qtc_button_normal);
}

HbPushButton[state = "pressed"]::icon
{
    color:var(qtc_button_pressed);
}

HbPushButton[state = "latched"]::icon
{ 
    color:var(qtc_button_latched);
}

HbPushButton::icon[!enabled]
{
    color:var(qtc_button_disabled);
}
