/*Layout Selection*/
HbProgressDialogContentWidget{
    layout:progressdialog_layout;
}

/*Primitive & sub-element properties*/
HbProgressDialogContentWidget::text
{
    top:-var(hb-param-margin-gene-popup);
    left:-var(hb-param-margin-gene-popup);
    right:var(hb-param-margin-gene-popup);
    
    font-variant:primary;
    text-height: var(hb-param-text-height-primary);
}

HbProgressDialogContentWidget::icon
{
    top:-var(hb-param-margin-gene-popup);
    left:-var(hb-param-margin-gene-popup);
    
    fixed-width:var(hb-param-graphic-size-primary-large);
    fixed-height:var(hb-param-graphic-size-primary-large);  
}

HbProgressDialogContentWidget::pbar
{   
    left:-var(hb-param-margin-gene-popup);
    right:var(hb-param-margin-gene-popup);
    bottom:var(hb-param-margin-gene-popup);
    
    fixed-height:var(hb-param-widget-progress-bar-height);  
}

HbProgressDialogContentWidget::TextSpacer
{
    min-height:var(hb-param-margin-gene-popup);
}

HbProgressDialogContentWidget::IconSpacer
{
    min-height:var(hb-param-margin-gene-popup);
}

/* Text line count for Icon & Text Layout use cases */
HbProgressDialogContentWidget[text="true"][icon="true"]::text
{
    text-line-count-min:1;
    text-line-count-max:3;
    min-width: expr(var(hb-param-screen-short-edge)-2*var(hb-param-margin-gene-screen)-3*var(hb-param-margin-gene-popup)-var(hb-param-graphic-size-primary-large));
}

/* Text line count for only text Layout use cases */
HbProgressDialogContentWidget[text="true"][icon="false"]::text
{
    text-line-count-min:1;
    text-line-count-max:5;
    min-width: expr(var(hb-param-screen-short-edge)-2*var(hb-param-margin-gene-screen)-2*var(hb-param-margin-gene-popup));
}

