/* Layout selection*/
HbProgressBar[!minMaxTextVisible]
{   
    layout:progressbar_no_text;
}

HbProgressBar[minMaxTextVisible][orientation="Horizontal"][minMaxTextAlignment="AlignTop"]
{   
    layout:horizontal_progressbar_top_text;
}

HbProgressBar[minMaxTextVisible][orientation="Horizontal"][minMaxTextAlignment="AlignBottom"]
{   
    layout:horizontal_progressbar_bottom_text;
}

HbProgressBar[minMaxTextVisible][orientation="Horizontal"][minMaxTextAlignment="AlignCenter"]
{   
    layout:horizontal_progressbar_center_text;
}

HbProgressBar[minMaxTextVisible][orientation="Vertical"][minMaxTextAlignment="AlignTop"]
{   
    layout:vertical_progressbar_left_text;
}

HbProgressBar[minMaxTextVisible][orientation="Vertical"][minMaxTextAlignment="AlignBottom"]
{   
    layout:vertical_progressbar_right_text;
}

HbProgressBar[minMaxTextVisible][orientation="Vertical"][minMaxTextAlignment="AlignCenter"]
{   
    layout:vertical_progressbar_center_text;
}

/* Progressbar Elements : frame, min-text & max-text */
HbProgressBar[orientation="Horizontal"]::frame
{
    pref-height: var(hb-param-widget-progress-bar-height);
    size-policy-vertical: fixed;
    size-policy-horizontal: preferred;
    pref-width:var(hb-param-screen-short-edge);
  
}

HbProgressBar[orientation="Vertical"]::frame
{
    pref-width: var(hb-param-widget-progress-bar-height);
    size-policy-vertical: preferred;
    size-policy-horizontal: fixed;
    pref-height:var(hb-param-screen-short-edge);
}

HbProgressBar[orientation="Horizontal"]::toucharea
{
    pref-height: var(hb-param-touch-area-gene-primary-medium);
    size-policy-vertical: fixed;
    size-policy-horizontal: preferred;  
}

HbProgressBar[orientation="Vertical"]::toucharea
{
    pref-width: var(hb-param-touch-area-gene-primary-medium);
    size-policy-vertical: preferred;
    size-policy-horizontal: fixed;
  
}

HbProgressBar::min-text
{
    fixed-width: 10.0un;
    text-line-count-max:1;
    text-height: var(hb-param-text-height-tiny);
    font-variant:secondary;
}

HbProgressBar::max-text
{
    fixed-width: 10.0un;
    text-line-count-max:1;
    text-height: var(hb-param-text-height-tiny);
    font-variant:secondary;
}

/* Alignment */
/* Alignment  - Horizontal progressbar*/
HbProgressBar[orientation="Horizontal"]::min-text
{
    text-align: left;
}

HbProgressBar[orientation="Horizontal"]::max-text
{
    text-align: right;
}

HbProgressBar[orientation="Horizontal"][minMaxTextAlignment="AlignCenter"]::min-text
{
    text-align: right;
}

HbProgressBar[orientation="Horizontal"][minMaxTextAlignment="AlignCenter"]::max-text
{
    text-align: left;
}
/* Alignment  - Vertical progressbar*/
HbProgressBar[orientation="Vertical"][minMaxTextAlignment="AlignTop"]::min-text
{
    text-align: right;
}

HbProgressBar[orientation="Vertical"][minMaxTextAlignment="AlignTop"]::max-text
{
    text-align: right;
}

HbProgressBar[orientation="Vertical"][minMaxTextAlignment="AlignBottom"]::min-text
{
    text-align: left;
}

HbProgressBar[orientation="Vertical"][minMaxTextAlignment="AlignBottom"]::max-text
{
    text-align: left;
}

HbProgressBar[orientation="Vertical"][minMaxTextAlignment="AlignCenter"]::min-text
{
    text-align: center;
}

HbProgressBar[orientation="Vertical"][minMaxTextAlignment="AlignCenter"]::max-text
{
    text-align: center;
}
