HbTextEdit{
    layout:default;
    text-align: left; 
    line-width: 0;
    line-style: Solid;
    smiley-scale: 1.5;
}

HbTextEdit::text{
    left: -var(hb-param-margin-gene-middle-horizontal);
    right: var(hb-param-margin-gene-middle-horizontal);
    top: -var(hb-param-margin-gene-middle-vertical);
    bottom: var(hb-param-margin-gene-middle-vertical);
}
