HbGroupBoxHeadingWidget[groupBoxType="1"] 
{
    layout:simple_label;
    size-policy-vertical:fixed;
}

HbGroupBoxHeadingWidget[groupBoxType="3"] 
{
    layout:collapsing_container;
    size-policy-vertical:fixed;
}

/* Simple Label groupBox */
HbGroupBoxHeadingWidget[groupBoxType="1"]::text
{
    
    top:-var(hb-param-margin-gene-middle-vertical);
    left:-var(hb-param-margin-gene-left);
    bottom:var(hb-param-margin-gene-middle-vertical);
    right:var(hb-param-margin-gene-right);
    
    text-height:var(hb-param-text-height-secondary);
    font-variant:secondary;

    text-align:left center;
    text-line-count-max:1;
}

HbGroupBoxHeadingWidget[groupBoxType="1"]::background
{
    border-width: var(hb-param-background-groupbox);
}

/* Collapsing container groupBox */
HbGroupBoxHeadingWidget[groupBoxType="3"]::icon
{
    right:var(hb-param-margin-gene-right);
    fixed-width:var(hb-param-graphic-size-secondary);
    fixed-height:var(hb-param-graphic-size-secondary);
}

HbGroupBoxHeadingWidget[groupBoxType="3"]::text
{
    top:-var(hb-param-margin-gene-top);
    left:-var(hb-param-margin-gene-left);
    bottom:var(hb-param-margin-gene-bottom);
    right:var(hb-param-margin-gene-middle-horizontal);
    
    text-height:var(hb-param-text-height-primary);
    font-variant:primary;
    text-align:left center;
    text-line-count-max:1;
    size-policy-vertical:expanding;
}

HbGroupBoxHeadingWidget[groupBoxType="3"]::background
{
    border-width: var(hb-param-background-list-main);
}
